<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <%include ../statics/include/head.ejs%>
    <title>记忆训练</title>
  </head>
  <body>
      <div class="container body">
          <div class="main_container">
              <jsp:include page="/nav"/>
      
              <div class="right_col" role="main">
                  <div class="row">
                      <div class="col-md-8 col-sm-6 col-xs-6 play-ground bg-info">
                          <div class="x_panel">
                              <div class="x_title">
                                  <h2>开始</h2>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="x_content">
                                  
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-6 hud bg-primary">
                        <div class="x_panel">
                            <!-- <div class="x_title">
                                <h2>开始</h2>
                                <div class="clearfix"></div>
                            </div> -->
                            <div class="x_content">
                                
                                <div class="row">
                                    用户
                                </div>
                                
                                <div class="row">
                                    系统
                                </div>
                                
                            </div>
                        </div>                       
                      </div>
                  </div>
              </div>
              <%include ../statics/include/footer.ejs%>
          </div>
      </div>



    <%include ../statics/include/script.ejs%>
    <script>
      
    </script>
  </body>
</html>